.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    text-align: center;
    flex: 1;
    justify-content: center;
}

.profile_image {
    max-width: 180px;
    border-radius: 50%;
    border: 7px solid #a37e2c;
}