.navigation {
    background-color: #006039;
    color: white;
    width: 100%;
    max-width: 1900px;

  }
  
  .navigation_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1700px;
    margin: 0px auto;
  }
  
  .navigation_wrapper span a {
    text-decoration: none;
    color: white;
    background-color: #a37e2c;
    border-radius: 15px;
    padding: 5px 20px;
    font-weight: bold;
  }

  .navigation_list {
    display: flex;
    gap: 20px;
  }
  
  .navigation_list a {
    color: white;
    text-decoration: none;
  }
  
  .navigation_list a:hover {
    color: #a37e2c;

  }

  .navigation img {
    max-width: 45px;
    margin-left: 110px;
    margin-top: 5px;
  }
