.navigation {
    background-color: #006039;
    color: white;
    width: 100%;
    max-width: 1450px;

  }
  
  .navigation_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
  }
  
  .navigation_wrapper span a {
    text-decoration: none;
    color: white;
    background-color: #a37e2c;
    border-radius: 15px;
    padding: 5px 20px;
    font-weight: bold;
  }

  .navigation_list {
    display: flex;
    gap: 20px;
  }
  
  .navigation_list a {
    color: white;
    text-decoration: none;
  }
  
  .navigation_list a:hover {
    color: #a37e2c;

  }

  .navigation img {
    max-width: 45px;
    margin-left: 110px;
    margin-top: 5px;
  }

  @media screen and (max-width: 1250px) {
    .navigation_wrapper {
      width: 95%;
    }
    .navigation_wrapper span a {
      padding: 5px 10px;
    }
  
}


@media screen and (max-width: 600px) {
  .navigation_wrapper {
    min-height: 5vh;
  }

  .navigation_wrapper span a {
    padding: 3px 7px;
    font-size: 14px;
  }
  .navigation_list {
    gap: 10px;
  }
  .navigation img {
    display: none;
  }
}

@media screen and (max-width: 400px) {

  .navigation_wrapper span a {
    font-size: 10px;
  }
  .navigation_list a {
    font-size: 14px;
  }


}